<% provide(:title, 'Sign up') %>
<h1>ユーザー登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
    <!--form_withヘルパーは簡単にフォームを生成することができる。
    同時に、入力値の送信先もシンプルに設定でき、コントローラへのデータ引き継ぎも
    スムーズに行うことがでるもの。-->
      <%= render 'shared/error_messages' %>
    
      <%= f.label :name, class: "label-signup" %>
      <%= f.text_field :name, class: "form-control" %>
      <!--ブロック変数であるfはHTML要素に対応するメソッドが呼び出されると、
      @userのカラムを設定するために設計されたHTMLを返してくれる。-->
      
      <!--上記の2行のhtmlである<label class="label-signup" for="user_name">Name</label>
      <input class="form-control" type="text" name="user[name]" />を生成して処理を返してくれる。-->

      <%= f.label :email, class: "label-signup" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, class: "label-signup" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Confirmation", class: "label-signup" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit "新規作成", class: "btn btn-primary btn-block btn-signup" %>
    <% end %>
  </div>
</div>